<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Drafted Commerce</title>
  <meta charset="utf-8"/>
  <meta name="dc.title" content="Home | Drafted Commerce">
  <meta name="dc.description" content="Capture Your Maximum Revenue Potential">
  <meta name="dc.relation" content="https://www.draftedcommerce.com/">
  <meta name="dc.source" content="https://www.draftedcommerce.com/">
  <meta name="dc.language" content="en_US">
  <meta name="description" content="Capture Your Maximum Revenue Potential">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://www.draftedcommerce.com/">
  <script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","name":"Drafted Commerce","alternateName":"Drafted Commerce","description":"Capture Your Maximum Revenue Potential","url":"https:\/\/www.draftedcommerce.com","potentialAction":{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/www.draftedcommerce.com\/?s={search_term_string}"},"query-input":"required name=search_term_string"}}</script>
  <meta property="og:url" content="https://www.draftedcommerce.com/">
  <meta property="og:site_name" content="Drafted Commerce">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Home | Drafted Commerce">
  <meta property="og:description" content="Capture Your Maximum Revenue Potential">
  <meta property="og:image" content="https://www.draftedcommerce.com/wp-content/uploads/2022/09/tools-1024x592.jpg">
  <meta property="og:image:secure_url" content="https://www.draftedcommerce.com/wp-content/uploads/2022/09/tools-1024x592.jpg">
  <link rel="icon" href="https://www.draftedcommerce.com/wp-content/uploads/2022/09/favicon.svg" sizes="32x32" />
  <link rel="icon" href="https://www.draftedcommerce.com/wp-content/uploads/2022/09/favicon.svg" sizes="192x192" />
  <link rel="apple-touch-icon" href="https://www.draftedcommerce.com/wp-content/uploads/2022/09/favicon.svg" />
  <meta name="msapplication-TileImage" content="https://www.draftedcommerce.com/wp-content/uploads/2022/09/favicon.svg" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>        <!--end::Fonts-->

  <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>

  <script>
      if (window.top != window.self) {
          window.top.location.replace(window.self.location.href);
      }
  </script>
</head>

<body id="kt_body" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on"  class="app-blank bgi-size-cover bgi-attachment-fixed bgi-position-center" >
  <script>
      var defaultThemeMode = "system";
      var themeMode = "system";

      if ( document.documentElement ) {
          if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
              themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
          } else {
              if ( localStorage.getItem("data-bs-theme") !== null ) {
                  themeMode = localStorage.getItem("data-bs-theme");
              } else {
                  themeMode = defaultThemeMode;
              }
          }

          if (themeMode === "system") {
              themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
          }

          document.documentElement.setAttribute("data-bs-theme", themeMode);
      }
  </script>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <div class="app-page-loader flex-column">
    <span class="spinner-border text-primary" role="status"></span>
    <span class="text-muted fs-6 fw-semibold mt-5">Loading...</span>
  </div>

  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <style>
        body {
            background-image: url('/assets/media/auth/bg10.jpeg');
        }

        [data-bs-theme="dark"] body {
            background-image: url('/assets/media/auth/bg10-dark.jpeg');
        }
    </style>
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
      <%= yield %>
    </div>
  </div>
  <script>
    var hostUrl = "/assets/";
  </script>

  <script src="/assets/plugins/global/plugins.bundle.js"></script>
  <script src="/assets/js/scripts.bundle.js"></script>


  <script src="/assets/js/custom/authentication/sign-in/general.js"></script>

</body>
</html>